body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}
.gridcell {
    float: left;
}
.gridcell.blocked {
    background: gray;
}
.gridcell.out-cell {
    background-color: lightgreen;
}
.gridcell.in-cell {
    background-color: coral;
}

svg {
    position: fixed;
    z-index: -1;
}
path {
    fill: none;
    stroke-width: 3px;
    stroke: red;
}